<mat-toolbar>
  <span>TE-LE</span>
</mat-toolbar>
<div>
  <button mat-raised-button color="primary" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>
  <button mat-raised-button color="accent" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>
  <button mat-raised-button color="warm" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button>
  <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
  <div>
    <audio *ngIf="!isRecording && blobUrl"  controls>
      <source [src]="blobUrl" type="audio/webm">
    </audio>
  </div>
</div>
