<mat-toolbar>
  <span>TE-LE (Your Friendly Voicemail Droid)</span>
</mat-toolbar>
<div *ngIf="afAuth.user | async as user; else showLogin">
  <mat-card>
    <mat-card-title>
     Droid Message Recording Studio
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="!isUploading">
        <form>
          <mat-form-field color="accent">
            <input matInput type="string" placeholder="Recipent Name" [(ngModel)]="name" name="name">
          </mat-form-field>

          <mat-form-field color="accent">
            <input matInput type="number" placeholder="User ID" [(ngModel)]="documentid" name="userid">
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="isUploading">Upload Percent is: {{uploadPercent | async}}%</div>
      <div *ngIf="!isUploading && downloadURL != null"><a [href]="downloadURL | async">{{ downloadURL | async }}</a></div>
      <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
      <div>
        <audio *ngIf="!isRecording && blobUrl"  controls>
          <source [src]="blobUrl" type="audio/webm">
        </audio>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>
      <button mat-raised-button color="accent" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>
      <button mat-raised-button color="warm" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button>
      <button mat-raised-button color="primary" *ngIf="!isRecording && blobUrl" (click)="uploadFile()">Upload File</button>
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #showLogin>
  <div>
    <mat-card>
      <form>
        <mat-form-field color="warn">
          <input matInput type="email" placeholder="Email" [(ngModel)]="username" name="username">
        </mat-form-field>

        <mat-form-field color="warn">
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="login()" >Login</button>
    </mat-card>
  </div>
</ng-template>
